@import 'includes/variables';
@import 'includes/mixins';

html, body {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  background-color: #FFF;
  word-break: break-all;
  font-family: 'Hiragino Kaku Gothic Pro', 'Yu Gothic', sans-serif;
}
