@import 'includes/variables';
@import 'includes/mixins';

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font-family: 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
}

/**
 * Pygments
 */
.highlight {
  background-color: transparent;
  pre {
    white-space: pre-wrap;
  }
}
