{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}


{% block head %}
  {{ super() }}
  <meta name="description" content="{{ article.summary|striptags }}">
  <meta name="twitter:title" content="{{ article.title }} - {{ SITENAME }}">
  <meta name="twitter:description" content="{{ article.summary|striptags }}">
  <meta property="og:title" content="{{ article.title }} - {{ SITENAME }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta property="og:description" content="{{ article.summary|striptags }}">
  <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
{% endblock %}


{% block content %}
  <section class="article">
    <h1>{{ article.title }}</h1>

    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>

    {{ article.content }}
  </section>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "@id": "{{ SITEURL }}/{{ article.url }}",
      "datePublished": "{{ article.date.isoformat() }}",
      "headline": "{{ article.title }} - {{ SITENAME }}",
      "description": "{{ article.summary|striptags }}"
    }
  </script>
{% endblock %}
