{% extends 'base.html' %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}


{% block head %}
  {{ super() }}
  {% include 'includes/article_head.html' %}
{% endblock %}


{% block content %}
  <section class="article">

    <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a></h1>

    <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>

    {{ article.content }}
  </section>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "@id": "{{ SITEURL }}/{{ article.url }}",
      "datePublished": "{{ article.date.isoformat() }}",
      "headline": "{{ article.title }} - {{ SITENAME }}",
      "description": "{{ article.summary|striptags }}"
    }
  </script>
{% endblock %}
