<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Assets #}
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/favicon.ico">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{ 'css'|hashed_assets }}">

    {# Google Analytics #}
    {% include 'includes/base_gtag.html' %}

    {# Meta/OGP #}
    {% if NOINDEX %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@emoji_gen">
    <meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ogp.png">
    <meta name="twitter:image:alt" content="{{ SITENAME }} - {{ SITE_SUBTITLE }}">
    <meta property="fb:app_id" content="1668136526839121">
    <meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ogp.png">
    <meta property="og:image:alt" content="{{ SITENAME }} - {{ SITE_SUBTITLE }}">
    <meta property="og:site_name" content="{{ SITENAME }} - {{ SITE_SUBTITLE }}" />
    <meta property="og:locale" content="ja_JP">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <div class="blog">
      <div class="blog__background">
        {% include 'includes/base_background.html' %}
      </div>

      <div class="blog__header">
        {% include 'includes/base_header.html' %}
      </div>

      <div class="blog__body">
        <div class="blog__body__content">
          {% block content %}
          {% endblock %}
        </div>
        <div class="blog__body__sidebar">
          {% include 'includes/base_sidebar.html' %}
        </div>
      </div>

      <div class="blog__footer">
        {% include 'includes/base_footer.html' %}
      </div>
    </div>

    {# JSON-LD #}
    {% include 'includes/base_structured_data.html' %}
  </body>
</html>
