<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/favicon.ico">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style.css">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    <section class="blog">
      <section class="blog__content">
        {% block content %}
        {% endblock %}
      </section>
    </section>
  </body>
</html>
