{% extends 'base.html' %}


{% block title %}
  {% if articles_page.number == 1 %}
    {{ SITENAME }}
  {% else %}
    記事一覧 ({{ articles_page.number }}ページ目) - {{ SITENAME }}
  {% endif %}
{% endblock %}


{% block head %}
  {{ super() }}
  {% include 'includes/index_head.html' %}
{% endblock %}


{% block content %}
  <section class="index">
    {% for article in articles_page.object_list %}
      <div class="index__article">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a>

        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>

        <div class="index__article__summary">{{ article.summary }}</div>
      </div>
    {% endfor %}
  </section>

  {# JSON-LD #}
  {% include 'includes/index_structured_data.html' %}
{% endblock %}
