{% extends 'base.html' %}


{% block title %}
  {% if articles_page.number == 1 %}
    {{ SITENAME }} - {{ SITE_SUBTITLE }}
  {% else %}
    {{ INDEX_TITLE }} ({{ articles_page.number }}{{ PAGER_SUFFIX }}) - {{ SITENAME }}
  {% endif %}
{% endblock %}


{% block head %}
  {{ super() }}
  {% include 'includes/index_head.html' %}
{% endblock %}


{% block content %}
  <div class="index">
    {% include 'includes/index_summaries.html' %}
  </div>

  {# JSON-LD #}
  {% include 'includes/index_structured_data.html' %}
{% endblock %}
