@import 'includes/variables';


/**
 * PC 向けスタイル
 */
@mixin pc {
  @media (min-width: $dimen-content-width) {
    @content;
  }
}

/**
 * スマートフォン向け
 */
@mixin sp {
  @media not all and (min-width: $dimen-content-width) {
    @content;
  }
}

/**
 * 透過影ありボックス
 */
@mixin box {
  margin: 0 auto;
  background-color: $color_background-white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

/**
 * 記事 タイトル
 */
@mixin article-title {
  margin: 8px 0;
  line-height: 1.2;
  font-size: $font-large;
  a {
    color: $color-green-dark;
    font-weight: bold;
    text-decoration: none;
  }
}

/**
 * 記事 投稿日時
 */
@mixin article-date {
  font-size: $font-xsmall;
  color: $color-gray;
}

/**
 * 記事 本文
 */
@mixin article-body {
  margin: 25px 0;
  font-size: $font-medium;
  color: rgba(0, 0, 0, .85);
  a {
    color: inherit;
  }
  p, ul, ol {
    line-height: 1.6;
  }
  p {
    margin: 18px 0;
  }
  h2 {
    margin: 38px 0 0 0;
    padding: 3px 0 3px 8px;
    border-left: 4px solid $color-blue-dark;
    color: $color-blue-dark;
    font-size: $font-medium;
  }
  h3 {
    margin: 12px 0 0 0;
    color: $color-blue-dark;
    font-size: $font-medium;
  }
  p + h3 {
    margin: 30px 0 0 0;
  }
  .thumbnail {
    display: block;
    margin: 40px auto;
  }
}
