@import 'includes/variables';


/**
 * PC 向けスタイル
 */
@mixin pc {
  @media (min-width: $dimen-body-width) {
    @content;
  }
}

/**
 * スマートフォン向け
 */
@mixin sp {
  @media not all and (min-width: $dimen-body-width) {
    @content;
  }
}

/**
 * 透過影ありボックス
 */
@mixin box {
  margin: 0 auto;
  background-color: $color_background-white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

/**
 * 記事 タイトル
 */
@mixin article-title {
  margin: 8px 0;
  line-height: 1.42;
  font-size: $font-large;
  a {
    color: $color-green-dark;
    font-weight: bold;
    text-decoration: none;
  }
}

/**
 * 記事 投稿日時
 */
@mixin article-date {
  font-size: $font-xsmall;
  color: $color-gray;
}

/**
 * 記事 本文
 */
@mixin article-body {
  margin: 25px 0;
  font-size: $font-medium;
  color: rgba(0, 0, 0, .85);
  a {
    color: inherit;
  }
  p, ul, ol {
    line-height: 1.6;
  }
  p {
    margin: 18px 0;
  }
  h2, h3 {
    color: $color-blue-dark;
    font-size: $font-medium;
  }
  h2 {
    margin: 38px 0 0 0;
    padding: 2px 0 2px 8px;
    border-left: 4px solid $color-blue-dark;
    line-height: 1.4;
  }
  h3 {
    margin: 12px 0 0 0;
  }
  p + h3 {
    margin: 30px 0 0 0;
  }
  img {
    display: block;
    margin: 40px auto;
  }
  code {
    padding: .2em .4em;
    background-color: rgba(27,31,35,.05);
    font-size: 85%;
  }
  .highlight {
    margin: 30px 0;
    background-color: transparent;
    pre {
      white-space: pre-wrap;
    }
  }
  @include pc {
    .sp-only {
      display: none;
    }
  }
  @include sp {
    .pc-only {
      display: none;
    }
  }

  /**
   * Article : Body : Table
   */
  @include pc {
    table {
      margin: 40px auto;
      border-collapse: separate;
      border-spacing: 10px 10px;
    }
  }
  @include sp {
    table {
      margin: 30px auto;
      border-collapse: collapse;
      thead {
        tr {
          :first-child {
            padding: 0;
          }
          td, th {
            padding: 0 0 0 8px;
          }
        }
      }
      tbody {
        tr {
          :first-child {
            padding: 8px 0 0 0;
          }
          td, th {
            padding: 8px 0 0 8px;
          }
        }
      }
    }
  }
}
