@import 'includes/variables';
@import 'includes/mixins';

$_width: 61px;
$_height: 20px;

.facebook {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 5px 0 0;
  border-radius: 3px;
  width: $_width;
  height: $_height;
  color: #fff;
  background: #4267b2;
  font-size: 11px;
  font-family: Helvetica, Arial, "hiragino kaku gothic pro",meiryo,"ms pgothic",sans-serif;
  text-decoration: none;

  &__logo {
    position: absolute;
    left: 3px;
    bottom: 1px;
  }
}
