@import 'includes/variables';
@import 'includes/mixins';

$_color_text_primary: rgb(80, 80, 80);

.footer {
  @include box;
  padding: 25px 50px;
  width: $dimen-content-width;
  box-sizing: border-box;

  &__copyright {
    letter-spacing: 1px;
    color: $color-gray;
    font-size: $font-small;
    a {
      color: $color-gray;
      text-decoration: none;
    }
  }
}
