@import 'includes/variables';
@import 'includes/mixins';

$_color_text_primary: rgb(80, 80, 80);

.header {
  @include box;
  position: relative;
  display: flex;
  box-sizing: border-box;

  &__title {
    a {
      text-decoration: none;
      color: $_color_text_primary;
    }
    &__text {
      margin: 0;
      padding: 0 90px 0 0;
      letter-spacing: 6px;
      background: url($theme-url + '/images/gears.png') right center / 60px 60px no-repeat;
      background-image: image-set(
        url($theme-url + '/images/gears.png') 1x,
        url($theme-url + '/images/gears@2x.png') 2x);
      font-weight: bold;
    }
  }
}


@include pc {
  .header {
    padding: 35px 0;
    width: $dimen-content-width;
    justify-content: center;

    &__title {
      &__text {
        line-height: 1.8;
        font-size: $font-xlarge;
        text-align: right;
        &__word {
          &--3 {
            display: block;
          }
        }
      }
    }
  }
}


@include sp {
  .header {
    padding: 12px 0 12px 30px;

    &__title {
      &__text {
        line-height: 1.4;
        font-size: $font-large;
        &__word {
          display: block;
        }
      }
    }
  }
}
