@import 'includes/variables';
@import 'includes/mixins';

$_color_text_primary: rgb(80, 80, 80);

.header {
  @include box;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 35px 50px;
  width: $dimen-content-width;
  box-sizing: border-box;

  &__title {
    a {
      text-decoration: none;
      color: $_color_text_primary;
    }
    &__text {
      margin: 0;
      padding: 0 90px 0 0;
      line-height: 1.8;
      letter-spacing: 6px;
      text-align: right;
      background: url($theme-url + '/images/gears.png') right center / 60px 60px no-repeat;
      background-image: image-set(
        url($theme-url + '/images/gears.png') 1x, url($theme-url + '/images/gears@2x.png') 2x);
      font-size: $font-xlarge;
      font-weight: bold;
    }
  }
}
