@import 'includes/variables';
@import 'includes/mixins';


.neighbor {
  @include box;
  box-sizing: border-box;
  padding: 20px 25px 30px;

  &__heading {
    margin: 0 0 25px;
    color: $color-blue-dark;
    font-size: $font-medium;
  }
  &__link {
    line-height: 1.4;
    color: $color-gray;
    font-size: $font-medium;
    text-decoration: none;
  }
}


@include pc {
  .neighbor {
    margin: $dimen-box-margin-pc 0 0;
    width: ($dimen-content-width - $dimen-box-margin-pc) / 2;
    &--prev {
      margin-right: $dimen-box-margin-pc;
    }
  }
}


@include sp {
  .neighbor {
    margin: $dimen-box-margin-sp 0 0;
  }
}
