@import 'includes/variables';
@import 'includes/mixins';

.summary {
  @include box;
  margin: 30px auto 0;
  padding: 20px 25px;

  &:first-of-type {
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    line-height: 1.2;
    a {
      color: $color-green-dark;
      font-size: $font-large;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__date {
    font-size: $font-xsmall;
    color: $color-gray;
  }

  &__body {
    margin: 24px 0 0;
    font-size: $font-medium;

    p {
      line-height: 1.6;
      margin: 14px 0;
    }
  }
}
