<meta name="description" content="{{ article.summary|striptags }}">
<meta name="twitter:title" content="{{ article.title }} - {{ SITENAME }}">
<meta name="twitter:description" content="{{ article.summary|striptags }}">
<meta property="og:title" content="{{ article.title }} - {{ SITENAME }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
<meta property="og:description" content="{{ article.summary|striptags }}">
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
