<div class="article__share">

  {# Facebook #}
  <div class="article__share__item">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL + '/' + article.url|urlencode }}"
      target="_blank" class="facebook" rel="nofollow noopener">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" color="#fff" width="16" height="16" class="facebook__logo"><path fill="#ffffff" fill-rule="evenodd" d="M8 14H3.667C2.733 13.9 2 13.167 2 12.233V3.667A1.65 1.65 0 0 1 3.667 2h8.666A1.65 1.65 0 0 1 14 3.667v8.566c0 .934-.733 1.667-1.667 1.767H10v-3.967h1.3l.7-2.066h-2V6.933c0-.466.167-.9.867-.9H12v-1.8c.033 0-.933-.266-1.533-.266-1.267 0-2.434.7-2.467 2.133v1.867H6v2.066h2V14z"></path></svg>
      シェア
    </a>
  </div>

  {# Twitter #}
  <div class="article__share__item">
    {% filter squash %}
      <a class="twitter-share-button"
         href="https://twitter.com/intent/tweet?text={{ article.title + ' #絵文字ジェネレーター'|urlencode }}">
      Tweet</a>
      <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));</script>
    {% endfilter %}
  </div>

  {# はてなブックマーク #}
  <div class="article__share__item">
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20"></a><script src="https://b.st-hatena.com/js/bookmark_button.js" async></script>
  </div>


</div>
