<header class="header">
  <div class="header__title">
    {% if articles_page %}
      <a href="{{ SITEURL }}/" rel="bookmark">
        <h1 class="header__title__text">
          <span class="header__title__text__word header__title__text__word--1">絵文字</span>
          <span class="header__title__text__word header__title__text__word--2">ジェネレーター</span>
          <span class="header__title__text__word header__title__text__word--3">開発者ブログ</span>
        </h1>
      </a>
    {% else %}
      <a href="{{ SITEURL }}/" rel="bookmark">
        <h2 class="header__title__text">
          <span class="header__title__text__word header__title__text__word--1">絵文字</span>
          <span class="header__title__text__word header__title__text__word--2">ジェネレーター</span>
          <span class="header__title__text__word header__title__text__word--3">開発者ブログ</span>
        </h2>
      </a>
    {% endif %}
  </div>
</header>
