<div class="sidebar">
  <div class="sidebar__about">
    <h2 class="sidebar__about__heading">このブログについて</h2>
    <a href="https://emoji-gen.ninja/" target="_blank" rel="bookmark">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo-100.png"
        srcset="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo-100.png 1x, {{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo-200.png 2x"
        width="100" height="100" alt="絵文字♪">
    </a>
    <div class="sidebar__about__description">
      <p>このウェブサイトは、Slack などのチャットツール向けの絵文字生成サービス『 <a href="https://emoji-gen.ninja/" target="_blank" rel="bookmark">絵文字ジェネレーター</a> 』の開発者による技術ブログです。</p>
      <p>サービスののアップデートの告知や、技術情報の発信などを行っていきます。</p>
      <p>開発者への連絡は『 <a href="https://emoji-gen.ninja/#!/contact">お問い合わせ</a> 』ページよりお願い致します。</p>
    </div>
  </div>
</div>
