{% filter squash %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "@id": "https://emoji-gen.ninja/#organization",
      "name": "{{ AUTHOR }}",
      "sameAs": [
        "https://twitter.com/emoji_gen",
        "https://github.com/emoji-gen"
      ],
      "url": "https://emoji-gen.ninja/",
      "logo": {
        "@type": "ImageObject",
        "@id": "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png",
        "url": "{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png"
      }
    }
  </script>
{% endfilter %}
