<meta name="twitter:title" content="{{ SITENAME }}">
<meta property="og:title" content="{{ SITENAME }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ SITEURL }}/">
{# <meta property="og:description" content=""> #}


{% if articles_page.number == 1 %}
  <link rel="canonical" href="{{ SITEURL }}/">
{% else %}
  <link rel="canonical" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.number }}.html">
{% endif %}


{% if articles_page.has_previous() %}
  {% if articles_page.previous_page_number() == 1 %}
    <link rel="prev" href="{{ SITEURL }}/">
  {% else %}
    <link rel="prev" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">
  {% endif %}
{% endif %}


{% if articles_page.has_next() %}
  <link rel="next" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">
{% endif %}
