{% filter squash %}
  {% if articles_page.number == 1 %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "author": "https://emoji-gen.ninja/#organization",
        "publisher": "https://emoji-gen.ninja/#organization",
        "url": "{{ SITEURL }}/"
      }
    </script>
  {% else %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "author": "https://emoji-gen.ninja/#organization",
        "publisher": "https://emoji-gen.ninja/#organization",
        "url": "{{ SITEURL }}/{{ page_name }}{{ articles_page.number }}.html"
      }
    </script>
  {% endif %}
{% endfilter %}
