{% for article in articles_page.object_list %}
  <div class="summary">
    <time datetime="{{ article.date.isoformat() }}" class="summary__date">{{ article.locale_date }}</time>

    <h2 class="summary__title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a>
    </h2>

    <div class="summary__body">{{ article.summary }}</div>

    <div class="summary__more">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" class="summary__more__button">
        <span class="summary__more__button__description">続きを読む</span>
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/arrow-down.png" width="20"
          class="summary__more__button__arrow">
      </a>
    </div>
  </div>
{% endfor %}
