<meta property="og:type" content="website">

{% if articles_page.number == 1 %}
  <meta name="description" content="{{ INDEX_DESCRIPTION }}">
  <meta name="twitter:title" content="{{ SITENAME }} - {{ SITE_SUBTITLE }}">
  <meta property="og:title" content="{{ SITENAME }} - {{ SITE_SUBTITLE }}">
  <meta property="og:description" content="{{ INDEX_DESCRIPTION }}">
  <meta property="og:url" content="{{ SITEURL }}/">
{% else %}
  <meta name="description" content="{{ INDEX_DESCRIPTION }} ({{ articles_page.number }}{{ PAGER_SUFFIX }})">
  <meta name="twitter:title" content="{{ INDEX_TITLE }} ({{ articles_page.number }}{{ PAGER_SUFFIX }}) - {{ SITENAME }}">
  <meta property="og:title" content="{{ INDEX_TITLE }} ({{ articles_page.number }}{{ PAGER_SUFFIX }}) - {{ SITENAME }} ">
  <meta property="og:description" content="{{ INDEX_DESCRIPTION }} ({{ articles_page.number }}{{ PAGER_SUFFIX }})">
  <meta property="og:url" content="{{ SITEURL }}/{{ page_name }}{{ articles_page.number }}.html">
{% endif %}


{% if articles_page.number == 1 %}
  <link rel="canonical" href="{{ SITEURL }}/">
{% else %}
  <link rel="canonical" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.number }}.html">
{% endif %}


{% if articles_page.has_previous() %}
  {% if articles_page.previous_page_number() == 1 %}
    <link rel="prev" href="{{ SITEURL }}/">
  {% else %}
    <link rel="prev" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">
  {% endif %}
{% endif %}


{% if articles_page.has_next() %}
  <link rel="next" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">
{% endif %}
