@import 'includes/variables';
@import 'includes/mixins';


@include pc {
  .blog {
    &__header {
      margin: 40px 0 0;
    }
    &__body {
      display: flex;
      margin: 30px auto 0;
      width: $dimen-content-width;
      min-height: 800px;
      &__content {
        flex: 1 1 auto;
      }
      &__sidebar {
        flex: 0 0 auto;
        margin: 0 0 0 30px;
        width: 280px;
      }
    }
    &__footer {
      margin: 30px 0 40px;
    }
  }
}


@include sp {
  .blog {
    &__body {
      margin: 20px 0 0;
      &__sidebar {
        margin: 20px 0 0;
      }
    }
    &__footer {
      margin: 20px 0 0;
    }
  }
}
