@import 'includes/variables';
@import 'includes/mixins';


@include pc {
  .blog {
    &__header {
      margin: 40px 0 0;
    }
    &__body {
      display: flex;
      margin: 30px auto 0;
      width: $dimen-body-width;
      min-height: 800px;
      &__content {
        width: $dimen-body-width - $dimen-sidebar_width - $dimen-box-margin;
      }
      &__sidebar {
        margin: 0 0 0 $dimen-box-margin;
        width: $dimen-sidebar-width;
      }
    }
    &__footer {
      margin: 30px 0 40px;
    }
  }
}


@include sp {
  .blog {
    &__body {
      margin: $dimen-box-margin-sp 0 0;
      &__sidebar {
        margin: $dimen-box-margin-sp 0 0;
      }
    }
    &__footer {
      margin: $dimen-box-margin-sp 0 0;
    }
  }
}
