@import 'includes/variables';
@import 'includes/mixins';


@include pc {
  $_sidebar_width: 280px;
  $_sidebar_margin: 30px;

  .blog {
    &__header {
      margin: 40px 0 0;
    }
    &__body {
      display: flex;
      margin: 30px auto 0;
      width: $dimen-content-width;
      min-height: 800px;
      &__content {
        width: $dimen-content-width - $_sidebar_width - $_sidebar_margin;
      }
      &__sidebar {
        margin: 0 0 0 $_sidebar_margin;
        width: $_sidebar_width;
      }
    }
    &__footer {
      margin: 30px 0 40px;
    }
  }
}


@include sp {
  .blog {
    &__body {
      margin: 20px 0 0;
      &__sidebar {
        margin: 20px 0 0;
      }
    }
    &__footer {
      margin: 20px 0 0;
    }
  }
}
